<div class="u-md-overflow-x--auto u-bg-color--cod-gray u-color--gray">
    <ul class="BareList u-md-display--flex u-md-flex-wrap--nowrap">
        <li class="BareList-item Reveal u-md-flex-shrink--0">
            <input type="checkbox" class="Reveal-checkbox" id="navigationbar-utilities">
            <label for="navigationbar-utilities" class="Reveal-label u-white-space--nowrap u-display--block u-padding-vertical--6 u-padding-horizontal--12 u-md-border-width--1 u-border-style--solid u-border-right-color--gray">Utilities +</label>
            <div class="Reveal-content Reveal-content--when-checked-display-block u-md-position--absolute u-z-index--1 u-bg-color--cod-gray">
                <ul class="BareList">
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">All</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#background" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">background</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#border" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">border</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#clear" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">clear</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#color" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">color</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#display" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">display</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#flex" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">flex</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#float" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">float</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#font" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">font</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#left" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">left</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#margin" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">margin</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#overflow" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">overflow</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#padding" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">padding</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#parent" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">parent</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#position" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">position</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#text" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">text</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#vertical-align" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">vertical-align</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#width" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">width</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/utilities.html#z-index" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">z-index</a></li>
                </ul>
            </div>
        </li>
        <li class="BareList-item Reveal u-md-flex-shrink--0">
            <input type="checkbox" class="Reveal-checkbox" id="navigationbar-atoms">
            <label for="navigationbar-atoms" class="Reveal-label u-flex-grow--1 u-white-space--nowrap u-display--block u-padding-vertical--6 u-padding-horizontal--12 u-md-border-width--1 u-border-style--solid u-border-right-color--gray">Atoms +</label>
            <div class="Reveal-content Reveal-content--when-checked-display-block u-md-position--absolute u-z-index--1 u-bg-color--cod-gray">
                <ul class="BareList">
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/atoms.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">All</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/atoms.html#Button" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Button</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/atoms.html#Container" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Container</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/atoms.html#SearchInput" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">SearchInput</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/atoms.html#WrapContainer" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">WrapContainer</a></li>
                </ul>
            </div>
        </li>
        <li class="BareList-item Reveal u-md-flex-shrink--0">
            <input type="checkbox" class="Reveal-checkbox" id="navigationbar-molecules">
            <label for="navigationbar-molecules" class="Reveal-label u-flex-grow--1 u-white-space--nowrap u-display--block u-padding-vertical--6 u-padding-horizontal--12 u-md-border-width--1 u-border-style--solid u-border-right-color--gray">Molecules +</label>
            <div class="Reveal-content Reveal-content--when-checked-display-block u-md-position--absolute u-z-index--1 u-bg-color--cod-gray">
                <ul class="BareList">
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">All</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#AppContainer" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">AppContainer</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#BareList" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">BareList</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#InlineList" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">InlineList</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#Media" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Media</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#Reveal" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Reveal</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/molecules.html#Switch" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Switch</a></li>
                </ul>
            </div>
        </li>
        <li class="BareList-item Reveal u-md-flex-shrink--0">
            <input type="checkbox" class="Reveal-checkbox" id="navigationbar-organisms">
            <label for="navigationbar-organisms" class="Reveal-label u-flex-grow--1 u-white-space--nowrap u-display--block u-padding-vertical--6 u-padding-horizontal--12 u-md-border-width--1 u-border-style--solid u-border-right-color--gray">Organisms +</label>
            <div class="Reveal-content Reveal-content--when-checked-display-block u-md-position--absolute u-z-index--1 u-bg-color--cod-gray">
                <ul class="BareList">
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">All</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#BreadCrumbs" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">BreadCrumbs</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Modal" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Modal</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Modal--book" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Modal--book</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Navigationbar" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Navigationbar</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Popover" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Popover</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Popover--account" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Popover--account</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Popover--filters" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Popover--filters</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Popover--recipe" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Popover--recipe</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#RecipeList" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">RecipeList</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/organisms.html#Sidebar" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Sidebar</a></li>
                </ul>
            </div>
        </li>
        <li class="BareList-item Reveal u-md-flex-shrink--0">
            <input type="checkbox" class="Reveal-checkbox" id="navigationbar-pages">
            <label for="navigationbar-pages" class="Reveal-label u-flex-grow--1 u-white-space--nowrap u-display--block u-padding-vertical--6 u-padding-horizontal--12 u-md-border-width--1 u-border-style--solid u-border-right-color--gray">Pages +</label>
            <div class="Reveal-content Reveal-content--when-checked-display-block u-md-position--absolute u-z-index--1 u-bg-color--cod-gray">
                <ul class="BareList">
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/pages/welcome.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Welcome</a></li>
                    <li class="BareList-item"><a href="{{ site.baseurl }}/styleguide/pages/recipe-detail.html" class="u-display--block u-padding-vertical--6 u-padding-horizontal--12">Recipe Detail</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>