---
title: Atoms - Recipes Style Guide
layout: styleguide
---

<div class="u-margin-horizontal--24">
  <h1 class="u-margin-vertical--12">Atoms</h1>
  <p class="u-margin-bottom--24">Atom are the building blocks of your app, used for layout and rendering of single elements</p>

  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Button">Button</h2>
  <p class="u-margin-bottom--12">The Button is used for interactions dealing with revealing modals and routing to another page</p>
</div>

{% include styleguide/atoms/Button.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Container">Container</h2>
  <p class="u-margin-bottom--12">The Container is used to wrap your content so it doesn't bleed to the edge of the page</p>
</div>

{% include styleguide/atoms/Container.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="SearchInput">SearchInput</h2>
  <p class="u-margin-bottom--12">The SearchInput is used for `input[type="search"]` elements but are styled specifically for the app</p>
</div>

{% include styleguide/atoms/SearchInput.html %}


<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="WrapContainer">WrapContainer</h2>
  <p class="u-margin-bottom--12">The WrapContainer atom is used to wrap content to a certain width</p>
</div>

{% include styleguide/atoms/WrapContainer.html %}
