---
layout: styleguide
---

<div class="u-margin-horizontal--24">
  <h1 class="u-margin-vertical--12">Molecules</h1>
  <p class="u-margin-bottom--24">Molecules are the building blocks of your app, used for layout and rendering of multiple elements</p>

  <h2 class="u-margin-top--12 u-margin-bottom--6" id="AppContainer">AppContainer</h2>
  <p class="u-margin-bottom--12">The AppContainer molecule is used to properly contain the sidebar and the content for the app.</p>
</div>

{% include styleguide/molecules/AppContainer.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="BareList">BareList</h2>
  <p class="u-margin-bottom--12">The BareList molecule is used to render a list with no default styling</p>
</div>

{% include styleguide/molecules/BareList.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="InlineList">InlineList</h2>
  <p class="u-margin-bottom--12">The InlineList molecule is used to render a list of inline elements</p>
</div>

{% include styleguide/molecules/InlineList.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Media">Media</h2>
  <p class="u-margin-bottom--12">The Media molecule is used to render media such as an image or video, and content together on one line</p>
</div>

{% include styleguide/molecules/Media.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Reveal">Reveal</h2>
  <p class="u-margin-bottom--12">The Reveal molecule is used to reveal content when an element is clicked</p>
</div>

{% include styleguide/molecules/Reveal.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Switch">Slideshow</h2>
  <p class="u-margin-bottom--12">The Slideshow molecule is used to display a collection of images</p>
</div>

{% include styleguide/molecules/Slideshow.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Switch">Switch</h2>
  <p class="u-margin-bottom--12">The Switch molecule is just a fancy checkbox with a thumb to switch from off to on</p>
</div>

{% include styleguide/molecules/Switch.html %}
