---
layout: styleguide
---

<div class="u-margin-horizontal--24">
  <h1 class="u-margin-vertical--12">Organisms</h1>
  <p class="u-margin-bottom--24">Both Atoms and Molecules are used to compose Organisms; these are higher level components that are created to represent whole sections of the app</p>

  <h2 class="u-margin-top--12 u-margin-bottom--6" id="BreadCrumbs">BreadCrumbs</h2>
  <p class="u-margin-bottom--12">The BreadCrumbs organism is used to render a list of navigation links in relation to the current link to show where you've gone in the page.</p>
</div>

{% include styleguide/organisms/BreadCrumbs.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Modal">Modal</h2>
  <p class="u-margin-bottom--12">The Modal organism is used to render content in a floating box with an optional overlay</p>
  <h3 class="u-margin-bottom--12" id="Modal--book">Modal--book</h3>
</div>

{% include styleguide/organisms/Modal--book.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Navigationbar">Navigationbar</h2>
  <p class="u-margin-bottom--12">The Navigationbar organism is used to render a navigationbar</p>
</div>

{% include styleguide/organisms/Navigationbar.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Popover">Popover</h2>
  <p class="u-margin-bottom--12">The Popover organism is used to render secondary content in a floating box</p>
  <h3 class="u-margin-bottom--12" id="Popover--account">Popover--account</h3>
</div>

{% include styleguide/organisms/Popover--account.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h3 class="u-margin-bottom--12" id="Popover--filters">Popover--filters</h3>
</div>

{% include styleguide/organisms/Popover--filters.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h3 class="u-margin-bottom--12" id="Popover--recipe">Popover--recipe</h3>
</div>

{% include styleguide/organisms/Popover--recipe.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="RecipeList">RecipeTableCell</h2>
  <p class="u-margin-bottom--12">The RecipeTableCell organism is used to render a recipe</p>
</div>

{% include styleguide/organisms/RecipeTableCell.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="RecipeList">RecipeTable</h2>
  <p class="u-margin-bottom--12">The RecipeTable organism is used to render a list of `RecipeTableCell`s</p>
</div>

{% include styleguide/organisms/RecipeTable.html %}

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
  <h2 class="u-margin-top--12 u-margin-bottom--6" id="Sidebar">Sidebar</h2>
  <p class="u-margin-bottom--12">The Sidebar organism is used to render a sidebar</p>
</div>

{% include styleguide/organisms/Sidebar.html %}