<ol class="BareList u-bg-color--concrete">
  <li class="BareList-item Media u-padding--12 u-border-width--1 u-border-style--solid u-border-top-color--silver">
    <div class="Media-object u-margin-right--12">
      <img src="//placehold.it/48" alt="User image" class="u-border-radius--full">
    </div>
    <div class="Media-body">
      <strong class="u-display--block u-margin-bottom--6">Aaron Reisman</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quia deserunt veritatis commodi. Quasi itaque, repudiandae atque tempora voluptatibus dolores minima eligendi adipisci est aliquid laboriosam maiores, eos fugit explicabo.</p>
    </div>
  </li>
  <li class="BareList-item Media u-padding--12 u-border-width--1 u-border-style--solid u-border-top-color--silver">
    <div class="Media-object u-margin-right--12">
      <img src="//placehold.it/48" alt="User image" class="u-border-radius--full">
    </div>
    <div class="Media-body">
      <strong class="u-display--block u-margin-bottom--6">Aaron Reisman</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quia deserunt veritatis commodi. Quasi itaque, repudiandae atque tempora voluptatibus dolores minima eligendi adipisci est aliquid laboriosam maiores, eos fugit explicabo.</p>
    </div>
  </li>
  <li class="BareList-item Media Media--middle u-padding--12 u-border-width--1 u-border-style--solid u-border-top-color--silver">
    <div class="Media-object u-margin-right--12">
      <img src="//placehold.it/48" alt="User image" class="u-border-radius--full">
    </div>
    <div class="Media-body">
      <input type="text" class="u-width--full u-padding-horizontal--12 u-padding-vertical--12 u-bg-color--white u-border-width--1 u-border-style--solid u-border-color--silver" placeholder="Write a comment">
    </div>
  </li>
</ol>
