<div class="Reveal">
    <input type="checkbox" class="Reveal-checkbox" id="example-reveal">
    <label for="example-reveal" class="Reveal-label">Reveal label</label>
    <div class="Reveal-content--when-checked-display-none">
        When checked display: none;
    </div>
    <div class="Reveal-content Reveal-content--when-checked-display-inline">
        When checked display: inline;
    </div>
    <div class="Reveal-content Reveal-content--when-checked-display-inline-block">
        When checked display: inline-block;
    </div>
    <div class="Reveal-content Reveal-content--when-checked-display-block">
        When checked display: block;
    </div>
</div>