<div class="u-bg-color--cod-gray">
  <div class="u-position--relative">
    <div style="padding-top: 55.555555555556%; width: 100%;"></div>
    <div class="u-position--absolute u-top--0 u-right--0 u-bottom--0 u-left--0" style="background-image: url(//placehold.it/1044x580); background-repeat: none; background-size: contain;"></div>
  </div>
  <div class="u-overflow-x--auto">
    <div class="u-display--flex u-flex-wrap--nowrap" style="padding: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
      <img src="//placehold.it/195x110" alt="Thumbnail" style="padding-right: 20px;">
    </div>
  </div>
</div>
