<div class="Switch">
  <input type="checkbox" class="Switch-checkbox" id="switch-example">
  <label for="switch-example" class="Switch-control">
    <span class="Switch-thumb"><i class="fa fa-bookmark"></i></span>
  </label>
</div>

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
    <h3 class="u-margin-bottom--12">Switch--navigationbar</h3>
</div>

<div class="Switch Switch--navigationbar u-margin-horizontal--24">
  <input type="checkbox" class="Switch-checkbox" id="navigationbar-switch-example">
  <label for="navigationbar-switch-example" class="Switch-control">
    <span class="Switch-thumb"><i class="fa fa-bookmark"></i></span>
  </label>
</div>
