<div class="Media u-color--mine-shaft u-padding--12">
  <div class="Media-object u-margin-right--12">
    <i class="fa fa-cutlery u-color--milano-red"></i>
  </div>
  <div class="Media-body">
    <ul class="BareList">
      <li class="BareList-item u-display--inline-block">
        <a href="#" class="u-font-weight--bold u-display--inline-block">Food</a>
      </li>
      <li class="BareList-item u-display--inline-block">»</li>
      <li class="BareList-item u-display--inline-block u-color--dove-gray">
        American
      </li>
    </ul>
  </div>
</div>
