<div class="Modal u-padding--24">
    <h4 class="u-margin-bottom--12">Create new collection</h4>
    <p class="u-font-size--13 u-margin-bottom--24">Collections allow you to group your recipes together</p>
    <form>
        <p class="u-margin-bottom--48">
            <input type="text" name="book[name]" placeholder="Book name" class="u-width--full u-padding-horizontal--12 u-padding-vertical--10 u-border-width--1 u-border-bottom-color--silver" />
        </p>
        <p class="u-text-align--right">
            <a href="#" class="Button u-text-transform--uppercase u-color--gray u-font-weight--bold u-font-size--13 u-margin-right--24">Cancel</a><input type="submit" value="Create" class="Button u-text-transform--uppercase u-color--milano-red u-font-weight--bold u-font-size--13" />
        </p>
    </form>
</div>