<div class="Popover">
    <div class="Popover-arrow u-border-bottom-color--white"></div>
    <div class="Media u-padding--24">
        <div class="Media-object u-margin-right--24">
            <img src="//placehold.it/96" alt="User Image" class="u-border-radius--full">
        </div>
        <div class="Media-body u-font-size--13">
            <div class="u-font-weight--bold u-overflow--hidden u-text-overflow--ellipsis">Aaron Reisman</div>
            <div class="u-color--dove-gray u-margin-bottom--24 u-overflow--hidden u-text-overflow--ellipsis">aaron@moderndeveloper.com</div>
            <button class="Button u-padding-vertical--6 u-padding-horizontal--12 u-font-weight--bold u-border-radius--2 u-bg-color--milano-red u-color--white u-font-size--13 u-font-smoothing--antialiased">My account</button>
        </div>
    </div>
    <div class="u-bg-color--wild-sand u-text-align--right u-padding-horizontal--24 u-padding-vertical--12 u-border-width--1 u-border-style--solid u-border-top-color--silver">
        <button class="Button u-color--dove-gray u-padding-vertical--6 u-padding-horizontal--12 u-font-size--13 u-border-radius--2 u-border-width--1 u-border-style--solid u-border-color--silver u-font-size--13">Sign out</button>
    </div>
</div>
