<div class="Popover">
    <div class="Popover-arrow u-border-bottom-color--mercury"></div>
    <div class="u-bg-color--mercury u-padding-horizontal--12 u-padding-vertical--16">
        <form>
            <p class="u-margin-bottom--12">
                <label for="filters-sort-by" class="u-display--inline-block u-font-weight--bold u-font-size--13 u-margin-bottom--6">Sort by</label>
                <select name="sort-by" class="u-width--full u-padding-horizontal--12 u-padding-vertical--12 u-bg-color--white u-border-width--1 u-border-style--solid u-border-color--silver" id="filters-sort-by" style="height: 35px;">
                    <option value="0">Best Match</option>
                    <option value="1">Most Popular</option>
                    <option value="2">Least Popular</option>
                </select>
            </p>
            <p>
                <label for="filters-ingredient-name" class="u-display--inline-block u-font-weight--bold u-font-size--13 u-margin-bottom--6">Filter by ingredients</label>
                <input type="text" name="ingredient-name" placeholder="Ingredient name" class="u-width--full u-padding-horizontal--12 u-padding-vertical--12 u-bg-color--white u-border-width--1 u-border-style--solid u-border-color--silver" id="filters-ingredient-name" />
            </p>
        </form>
    </div>
    <ul class="BareList">
        <li class="BareList-item u-padding-horizontal--12 u-padding-vertical--12 u-border-width--1 u-border-style--solid u-border-top-color--silver u-clear--fix">
            <a href="#" class="u-display--none u-on-hover-parent-display--inline-block u-float--right">
                <i class="fa fa-close u-font-size--10 u-color--gray"></i>
            </a>
            Milk
        </li>
        <li class="BareList-item u-padding-horizontal--12 u-padding-vertical--12 u-border-width--1 u-border-style--solid u-border-top-color--silver u-clear--fix">
            <a href="#" class="u-display--none u-on-hover-parent-display--inline-block u-float--right">
                <i class="fa fa-close u-font-size--10 u-color--gray"></i>
            </a>
            Eggs
        </li>
        <li class="BareList-item u-padding-horizontal--12 u-padding-vertical--12 u-border-width--1 u-border-style--solid u-border-top-color--silver u-clear--fix">
            <a href="#" class="u-display--none u-on-hover-parent-display--inline-block u-float--right">
                <i class="fa fa-close u-font-size--10 u-color--gray"></i>
            </a>
            Cheese
        </li>
        <li class="BareList-item u-padding-horizontal--12 u-padding-vertical--12 u-border-width--1 u-border-style--solid u-border-top-color--silver u-clear--fix">
            <a href="#" class="u-display--none u-on-hover-parent-display--inline-block u-float--right">
                <i class="fa fa-close u-font-size--10 u-color--gray"></i>
            </a>
            Bacon
        </li>
    </ul>
</div>