<div class="Media u-bg-color--white u-color--mine-shaft u-padding--12 u-sm-padding--24 u-position--relative" style="box-sizing: border-box;">
  <div class="Media-object u-margin-right--12">
    <img src="//placehold.it/220x134" alt="Recipe Name" class="u-display--none u-sm-display--inline-block" />
    <img src="//placehold.it/80" alt="Recipe Name" class="u-sm-display--none" />
  </div>
  <div class="Media-body">
    <div class="u-clear--fix u-sm-margin-bottom--12">
      <ul class="BareList u-float--right">
        <li class="BareList-item u-display--inline u-margin-right--12">
          <a href="#" class="u-color--gray u-on-hover-color--buttercup u-on-focus-color--buttercup">
            <span class="fa-stack u-font-size--12 u-vertical-align--middle">
              <i class="fa fa-star fa-stack-2x"></i>
              <span class="fa-stack-1x fa-star-text u-color--white u-font-size--10">5</span>
            </span>
          </a>
        </li>
        <li class="BareList-item u-display--inline u-margin-right--12">
          <a href="#" class="u-color--gray u-on-hover-color--milano-red u-on-focus-color--milano-red">
            <i class="fa fa-bookmark u-font-size--24 u-vertical-align--middle"></i>
          </a>
        </li>
        <li class="BareList-item u-display--inline">
          <label for="recipe-popover-{{include.index}}" class="Reveal-label u-color--gray">
            <i class="fa fa-ellipsis-v u-font-size--24 u-vertical-align--middle"></i>
          </label>
        </li>
      </ul>
      <div class="Reveal">
          <input type="checkbox" class="Reveal-checkbox" id="recipe-popover-{{include.index}}" />
          <div class="Reveal-content md-Reveal-content--when-checked-display-block u-position--absolute u-z-index--1" style="width: 250px; top: 60px; right: 12px;">{% include styleguide/organisms/Popover--recipe.html %}</div>
      </div>
      <div class="u-font-weight--bold u-clear--right u-font-size--14 u-sm-clear--none u-sm-font-size--20">Ultra Creamy Mashed Potatoes</div>
    </div>
    <p class="u-display--none u-sm-display--block u-sm-font-size--18 u-sm-margin-bottom--24">
      The secret to making these potatoes extra-flavorful is cooking them in chicken broth.
      They're mashed until perfectly smooth and creamy, with just the right amount of butter and cream to make a savory side everyone will enjoy.
    </p>
    <div class="u-font-size--14">
      <div class="u-display--none u-sm-display--block u-sm-float--right u-sm-color--gray">
        <i class="fa fa-comments u-sm-font-size--24 u-sm-vertical-align--middle"></i>
        <span class="u-sm-vertical-align--middle">2 comments</span>
      </div>
      <p>You’ve made this: <strong>0</strong> times</p>
    </div>
  </div>
</div>
