<div style="box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18), 0px 8px 16px 0px rgba(0,0,0,0.36);">
    <div class="u-bg-color--emperor u-border-top-radius--4 u-color--white u-clear--fix u-padding-vertical--6 u-padding-horizontal--24">
        <i class="fa fa-spoon u-float--left"></i>
        <i class="fa fa-close u-float--right"></i>
    </div>
    <div class="u-bg-color--white">
        <form action="" class="u-overflow--hidden">
            <input type="text" class="u-width--full u-padding-horizontal--12 u-padding-vertical--12 u-border-width--1 u-border-top-color--silver" placeholder="Name" />
            <div class="u-sm-display--flex">
                <div class="u-sm-flex-grow--1 u-border-width--1 u-border-style--solid u-border-top-color--silver">
                    <input type="text" class="u-width--full u-padding-horizontal--12 u-padding-vertical--12" placeholder="Ingredient" />
                </div>
                <div class="u-border-width--1 u-border-style--solid u-border-top-color--silver">
                    <input type="text" class="u-padding-horizontal--12 u-padding-vertical--12" placeholder="Amount" />
                    <select class="u-padding-horizontal--12 u-padding-vertical--12" style="height: 41px;">
                        <option value="" class="placeholder">Unit</option>
                        <option value="cup">Cup</option>
                    </select>
                </div>
            </div>
            <div class="u-border-width--1 u-border-style--solid u-border-top-color--silver">
                <textarea class="u-width--full u-padding-horizontal--12 u-padding-vertical--12" rows="22" placeholder="Directions"></textarea>
            </div>
            <div class="u-margin-horizontal--24 u-margin-bottom--12">
                <input type="submit" class="Button u-padding-vertical--6 u-padding-horizontal--12 u-font-weight--bold u-border-radius--2 u-bg-color--milano-red u-color--white u-font-size--13" value="Create" />
                <label for="" class="u-margin-left--24 u-color--gray">
                    <input type="checkbox" class="u-display--inline-block u-vertical-align--middle u-margin-right--6" />
                    <span class="u-display--inline-block u-vertical-align--middle">Public</span>
                </label>
            </div>
        </form>
    </div>
</div>
