<div class="u-color--mine-shaft">
  <div class="u-margin-bottom--24">
    <nav class="Reveal u-margin-bottom--1">
      <input type="checkbox" class="Reveal-checkbox" id="food-list-checkbox">
      <label class="Reveal-label u-display--block u-padding-horizontal--24 u-padding-vertical--12 u-bg-color--alto" for="food-list-checkbox">
        <div class="u-float--right">
          <i class="fa fa-caret-down Reveal-content--when-checked-display-none"></i>
          <i class="fa fa-caret-up Reveal-content Reveal-content--when-checked-display-inline-block"></i>
        </div>
        <i class="fa fa-cutlery u-color--milano-red u-margin-right--24"></i><strong>Food</strong>
      </label>
      <div class="Reveal-content Reveal-content--when-checked-display-block">
        <ul class="BareList">
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 1</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 2</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 3</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 4</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="Reveal u-margin-bottom--1">
      <input type="checkbox" class="Reveal-checkbox" id="drinks-list-checkbox">
      <label class="Reveal-label u-display--block u-padding-horizontal--24 u-padding-vertical--12 u-bg-color--alto" for="drinks-list-checkbox">
        <div class="u-float--right">
          <i class="fa fa-caret-down Reveal-content--when-checked-display-none"></i>
          <i class="fa fa-caret-up Reveal-content Reveal-content--when-checked-display-inline-block"></i>
        </div>
        <i class="fa fa-glass u-color--milano-red u-margin-right--24"></i><strong>Drinks</strong>
      </label>
      <div class="Reveal-content Reveal-content--when-checked-display-block">
        <ul class="BareList">
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 1</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 2</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 3</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 4</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="Reveal">
      <input type="checkbox" class="Reveal-checkbox" id="household-list-checkbox">
      <label class="Reveal-label u-display--block u-padding-horizontal--24 u-padding-vertical--12 u-bg-color--alto" for="household-list-checkbox">
        <div class="u-float--right">
          <i class="fa fa-caret-down Reveal-content--when-checked-display-none"></i>
          <i class="fa fa-caret-up Reveal-content Reveal-content--when-checked-display-inline-block"></i>
        </div>
        <i class="fa fa-home u-color--milano-red u-margin-right--24"></i><strong>Household</strong>
      </label>
      <div class="Reveal-content Reveal-content--when-checked-display-block">
        <ul class="BareList">
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 1</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 2</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 3</span>
            </a>
          </li>
          <li class="BareList-item u-padding-horizontal--24 u-padding-vertical--12">
            <a href="#" class="u-display--block">
              <i class="fa fa-book u-font-size--18 u-color--dove-gray u-margin-right--24"></i><span>Item 4</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="BareList">
    <li class="BareList-item u-margin-bottom--4"><button class="Button u-width--full u-bg-color--milano-red u-color--white u-padding--16 u-font-weight--bold">Add Recipe</button></li>
    <li class="BareList-item"><button class="Button u-width--full u-bg-color--emperor u-color--white u-padding--16 u-font-weight--bold">Add Collection</button></li>
  </ul>
</div>
