<a href="#" class="Button">Button</a>
<input type="button" class="Button" value="Button" />
<input type="submit" class="Button" value="Button" />
<input type="reset" class="Button" value="Button" />
<label class="Button">Button</label>

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
    <h3 class="u-margin-bottom--12">Large Buttons</h3>
</div>

<a href="#" class="Button u-bg-color--milano-red u-color--white u-padding--16 u-font-weight--bold">Primary</a>
<a href="#" class="Button u-bg-color--boulder u-color--white u-padding--16 u-font-weight--bold">Secondary</a>

<hr class="u-border-bottom-color--silver u-margin-vertical--24" />

<div class="u-margin-horizontal--24">
    <h3 class="u-margin-bottom--12">Full width Buttons</h3>
</div>

<a href="#" class="Button u-width--full u-bg-color--milano-red u-color--white u-padding--16 u-font-weight--bold">Primary</a>
<a href="#" class="Button u-width--full u-bg-color--boulder u-color--white u-padding--16 u-font-weight--bold">Secondary</a>