
<div class="u-margin-horizontal--24">
    <h3 class="u-margin-bottom--12">background-color</h3>
</div>

<div class="u-bg-color--white">white</div>
<div class="u-bg-color--concrete">concrete</div>
<div class="u-bg-color--wild-sand">wild-sand</div>
<div class="u-bg-color--mercury">mercury</div>
<div class="u-bg-color--alto">alto</div>
<div class="u-bg-color--boulder">boulder</div>
<div class="u-bg-color--cod-gray u-color--white">cod-gray</div>
<div class="u-bg-color--milano-red u-color--white">milano-red</div>
