<div class="u-border-width--1 u-border-style--solid u-border-color--transparent">transparent</div>
<div class="u-border-width--1 u-border-style--solid u-border-color--silver">silver</div>
<div class="u-border-width--1 u-border-style--solid u-border-top-color--silver">top silver</div>
<div class="u-border-width--1 u-border-style--solid u-border-right-color--gray">right gray</div>
<div class="u-border-width--1 u-border-style--solid u-border-bottom-color--white">bottom white</div>
<div class="u-border-width--1 u-border-style--solid u-border-bottom-color--mercury">bottom mercury</div>
<div class="u-border-width--1 u-border-style--solid u-border-bottom-color--silver">bottom silver</div>