<div class="u-color--white u-bg-color--cod-gray">white</div>
<div class="u-color--gray">gray</div>
<div class="u-color--dove-gray">dove-gray</div>
<div class="u-color--mine-shaft">mine-shaft</div>
<div class="u-color--milano-red">milano-red</div>
<div class="u-color--mine-shaft u-on-hover-color--milano-red">on hover milano-red</div>
<div class="u-color--mine-shaft u-on-hover-color--buttercup">on hover buttercup</div>
<div class="u-color--mine-shaft u-on-focus-color--milano-red" tabindex="0">on focus milano-red</div>
<div class="u-color--mine-shaft u-on-focus-color--buttercup" tabindex="0">on focus buttercup</div>
<div class="u-color--milano-red u-sm-color--gray">on ipad portrait gray</div>