<div class="u-display--inline">inline</div>
<div class="u-display--inline-block">inline-block</div>
<div class="u-display--block">block</div>
<div class="u-display--flex">flex</div>
<div>none (it's hidden)</div>
<div class="u-display--none">none</div>
<div class="u-display-block u-sm-display--inline-block">on ipad portrait inline-block</div>
<div class="u-display-inline u-sm-display--block">on ipad portrait block</div>
<div class="u-display-inline u-sm-display--flex">on ipad portrait flex</div>
<div class="u-display-inline u-sm-display--none">on ipad portrait none</div>
<div>
    <div class="u-on-hover-parent-display--inline-block">on hover of parent display inline-block</div>
</div>