<div class="u-font-weight--bold">font-weight bold</div>
<div class="u-font-size--10">font-size 10</div>
<div class="u-font-size--12">font-size 12</div>
<div class="u-font-size--13">font-size 13</div>
<div class="u-font-size--14">font-size 14</div>
<div class="u-font-size--16">font-size 16</div>
<div class="u-font-size--18">font-size 18</div>
<div class="u-font-size--24">font-size 24</div>
<div class="u-sm-font-size--18">on ipad portrait font-size 18</div>
<div class="u-sm-font-size--20">on ipad portrait font-size 20</div>
<div class="u-sm-font-size--24">on ipad portrait font-size 24</div>