<div class="u-padding--16">padding 16</div>
<div class="u-padding--24">padding 24</div>
<div class="u-padding-vertical--6">padding-top 6 &amp; padding-bottom 6</div>
<div class="u-padding-vertical--12">padding-top 12 &amp; padding-bottom 12</div>
<div class="u-padding-vertical--16">padding-top 16 &amp; padding-bottom 16</div>
<div class="u-padding-vertical--24">padding-top 24 &amp; padding-bottom 24</div>
<div class="u-padding-horizontal--12">padding-left 12 &amp; padding-right 12</div>
<div class="u-padding-horizontal--20">padding-left 20 &amp; padding-right 20</div>
<div class="u-padding-horizontal--24">padding-left 24 &amp; padding-right 24</div>
<div class="u-sm-padding-vertical--14">on ipad portrait padding-top 14 &amp; padding-bottom 14</div>
<div class="u-sm-padding-horizontal--24">padding-left 24 &amp; padding-right 24</div>
