// Generate color names here:
// http://chir.ag/projects/name-that-color/

.u-bg-color--white {
  background-color: color(#FFFFFF) !important;
}

.u-bg-color--concrete {
  background-color: color(#F2F2F2) !important;
}

.u-bg-color--wild-sand {
  background-color: color(#F5F5F5) !important;
}

.u-bg-color--mercury {
  background-color: color(#E5E5E5) !important;
}

.u-bg-color--alto {
  background-color: color(#DFDFDF) !important;
}

.u-bg-color--boulder {
  background-color: color(#787878) !important;
}

.u-bg-color--cod-gray {
  background-color: color(#0B0B0B) !important;
}

.u-bg-color--milano-red {
  background-color: color(#C41200) !important;
}
