.u-border-color--transparent {
  border-color: color(transparent) !important;
}

.u-border-color--silver {
  border-color: color(#CCCCCC) !important;
}

.u-border-top-color--silver {
  border-top-color: color(#CCCCCC) !important;
}

.u-border-right-color--gray {
  border-right-color: color(#7F7F7F) !important;
}

.u-border-bottom-color--white {
  border-bottom-color: color(#FFFFFF) !important;
}

.u-border-bottom-color--mercury {
  border-bottom-color: color(#E5E5E5) !important;
}

.u-border-bottom-color--silver {
  border-bottom-color: color(#CCCCCC) !important;
}
