.u-border-radius--full {
  border-radius: 100% !important;
}

.u-border-top-radius--4 {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.u-border-width--1 {
  border-width: 1px !important;
}

.u-border-radius--2 {
  border-radius: 2px !important;
}

.u-border-style--solid {
  border-style: solid !important;
}

@media screen and (min-width: 1024px) {
  .u-md-border-width--1 {
    border-width: 1px !important;
  }
}
