.u-clear--fix::after {
  clear: both !important;
  content: "" !important;
  display: table !important;
}

.u-clear--right {
  clear: right;
}

@media screen and (min-width: 768px) {
  .u-sm-clear--none {
    clear: none;
  }
}


.u-float--right {
  float: right !important;
}

@media screen and (min-width: 768px) {
  .u-sm-float--left {
    float: left !important;
  }

  .u-sm-float--right {
    float: right !important;
  }
}
