.u-margin--auto {
  margin: auto !important;
}

.u-margin-vertical--12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.u-margin-vertical--24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.u-margin-horizontal--24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.u-margin-top--12 {
  margin-top: 12px !important;
}

.u-margin-right--12 {
  margin-right: 12px !important;
}

.u-margin-right--24 {
  margin-right: 24px !important;
}

.u-margin-bottom--1 {
  margin-bottom: 1px !important;
}

.u-margin-bottom--4 {
  margin-bottom: 4px !important;
}

.u-margin-bottom--6 {
  margin-bottom: 6px !important;
}

.u-margin-bottom--12 {
  margin-bottom: 12px !important;
}

.u-margin-bottom--24 {
  margin-bottom: 24px !important;
}

.u-margin-bottom--48 {
  margin-bottom: 48px !important;
}

@media screen and (min-width: 768px) {
  .u-sm-margin--24 {
    margin: 24px !important;
  }

  .u-sm-margin-right--24 {
    margin-right: 24px !important;
  }

  .u-sm-margin-bottom--12 {
    margin-bottom: 12px !important;
  }

  .u-sm-margin-bottom--24 {
    margin-bottom: 24px !important;
  }

  .u-sm-margin-left--146 {
    margin-left: 146px !important;
  }
}
