.u-padding--12 {
  padding: 12px !important;
}

.u-padding--16 {
  padding: 16px !important;
}

.u-padding--24 {
  padding: 24px !important;
}

.u-padding-vertical--6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.u-padding-vertical--12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.u-padding-vertical--16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.u-padding-vertical--24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.u-padding-horizontal--12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.u-padding-horizontal--16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.u-padding-horizontal--20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.u-padding-horizontal--24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.u-padding-top--12 {
  padding-top: 12px !important;
}

@media screen and (min-width: 768px) {
  .u-sm-padding--24 {
    padding: 24px !important;
  }

  .u-sm-padding-vertical--14 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }

  .u-sm-padding-horizontal--24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
