.u-text-align--right {
    text-align: right !important;
}

.u-text-transform--uppercase {
    text-transform: uppercase !important;
}

.u-text-overflow--ellipsis {
    text-overflow: ellipsis !important;
}